<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<h1>Image Gallery (only appears in the dark theme)</h1>
<div class="container-all">
  <div
    class="container"
    style="height:400px;"
    *ngFor="let i of data | slice: indexArr[c]:indexArr[c + 1]"
    (deferLoad)="i.show = true"
  >
    <ng-container *ngIf="i.show">
      <img src="{{ i.url }}" />
      <div class="overlay">
        <a
          href="#"
          class="iconScenter"
          title="Image"
          (click)="showModal($event, i.id)"
        >
          <i class="fa fa-search"></i>
        </a>
      </div>
    </ng-container>
  </div>
</div>
