<header class="main-header" role="banner">
  <div class="row justify-content-between">
    <div class="pl-3 ml-2 mb-2">
      <h1>Banner</h1>
    </div>
    <div class="pr-3 mr-2 my-2">
      <button (click)="toggleDarkTheme()">Toggle dark theme</button>
    </div>
    <div class="pr-3 mr-2 my-2">
      <button (click)="toggleDarkTheme()">Toggle dark theme</button>
    </div>
  </div>
</header>

<be-image-gallery [data]="galleryImages" [column]="column"></be-image-gallery>

<footer class="footer fixed-bottom">
  <div class="row justify-content-between">
    <div class="pl-3 ml-2 mb-2">
      <h1>Footer</h1>
    </div>
    <div class="pr-3 mr-2 my-2">
      <button (click)="toggleDarkTheme()">Toggle dark theme</button>
    </div>
    <div class="pr-3 mr-2 my-2">
      <button (click)="toggleDarkTheme()">Toggle dark theme</button>
    </div>
  </div>
</footer>
