/* Add application styles & imports to this file! */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
  --text-color: #222;
  --bkg-color: #fff;
  --btn-txt-color: white;
  --btn-bg-color: rgb(11, 88, 160);
  --bkg-hd-color: teal;
  --bkg-h1-display: block;
}
body.dark-theme {
  --text-color: #eee;
  --bkg-color: #252222;
  --btn-txt-color: rgb(46, 43, 43);
  --btn-bg-color: rgb(20, 211, 195);
  --bkg-hd-color: red;
  --bkg-h1-display: none;
}

body {
  background: var(--bkg-color);
}

h1 {
  color: var(--text-color);
  display: none;
}

h1.dark-theme {
  color: var(--text-color);
  display: block;
}

p {
  color: var(--text-color);
}
button {
  padding: 10px;
  border: none;
  border-radius: 2px;
  color: var(--btn-txt-color);
  background-color: var(--btn-bg-color);
}

.main-header {
  height: 60px;
  background-color: var(--bkg-hd-color);
}

.footer {
  height: 60px;
  background-color: var(--bkg-hd-color);
}

.cdk-global-scrollblock {
  overflow-y: hidden;
}
